# sampling data 
from the orignal so we can test thing before implementing it to all of the data

In [2]:
import os
import kagglehub

data_path = kagglehub.dataset_download('sahilchambyal/solana-price-usd')

# List the files inside the downloaded data directory
for dirname, _, filenames in os.walk(data_path):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

/Users/ash/.cache/kagglehub/datasets/sahilchambyal/solana-price-usd/versions/1/SOLUSD_1s_05NOV2024_to15NOV2024.csv
/Users/ash/.cache/kagglehub/datasets/sahilchambyal/solana-price-usd/versions/1/SOLUSD_1s_01NOV2024_to15NOV2024.csv
/Users/ash/.cache/kagglehub/datasets/sahilchambyal/solana-price-usd/versions/1/SOLUSD_1min_20AUG2020_to15NOV2024.csv

In [3]:
import pandas as pd
data = pd.read_csv(data_path + '/SOLUSD_1min_20AUG2020_to15NOV2024.csv')
# convert to df
df = pd.DataFrame(data)

In [4]:
# Display the first few rows of the data
df.head()

,OpenTime,Open,High,Low,Close,Volume,CloseTime,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseVolume,TakerBuyQuoteVolume,Ignore
0,1597852080000,3.0000,3.0009,2.9893,2.9977,771.96,1597852139999,2315.230586,18,54.51,163.517987,0
1,1597852140000,2.9893,2.9958,2.9800,2.9953,2676.06,1597852199999,7981.488056,23,922.81,2754.110336,0
2,1597852200000,2.9823,2.9929,2.9800,2.9929,430.08,1597852259999,1281.903834,9,12.29,36.782741,0
3,1597852260000,2.9825,3.0046,2.9824,3.0045,601.93,1597852319999,1801.110659,11,340.03,1020.016758,0
4,1597852320000,2.9982,2.9982,2.9980,2.9980,116.81,1597852379999,350.199742,2,0.00,0.000000,0

In [5]:
# Display the last few rows of the data
df.tail()

,OpenTime,Open,High,Low,Close,Volume,CloseTime,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseVolume,TakerBuyQuoteVolume,Ignore
2228995,1731591780000,215.27,216.20,215.27,215.76,6502.215,1731591839999,1.403323e+06,3937,4382.881,9.456026e+05,0
2228996,1731591840000,215.76,215.84,215.52,215.82,3084.711,1731591899999,6.652716e+05,2952,1711.371,3.690536e+05,0
2228997,1731591900000,215.82,216.09,215.63,215.63,6420.050,1731591959999,1.386333e+06,4350,3542.590,7.649240e+05,0
2228998,1731591960000,215.63,215.63,215.14,215.30,17499.586,1731592019999,3.769764e+06,4943,4593.328,9.888689e+05,0
2228999,1731592020000,215.30,215.44,215.02,215.08,7686.178,1731592079999,1.654606e+06,3867,5455.040,1.174334e+06,0

In [6]:
# Display the shape of the data
df.shape

(2229000, 12)

In [7]:
# Display the data types of the columns
df.dtypes

OpenTime                 int64
Open                   float64
High                   float64
Low                    float64
Close                  float64
Volume                 float64
CloseTime                int64
QuoteAssetVolume       float64
NumberOfTrades           int64
TakerBuyBaseVolume     float64
TakerBuyQuoteVolume    float64
Ignore                   int64
dtype: object

In [8]:
# Display summary statistics of the data
df.describe()

,OpenTime,Open,High,Low,Close,Volume,CloseTime,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseVolume,TakerBuyQuoteVolume,Ignore
count,2.229000e+06,2.229000e+06,2.229000e+06,2.229000e+06,2.229000e+06,2.229000e+06,2.229000e+06,2.229000e+06,2.229000e+06,2.229000e+06,2.229000e+06,2229000.0
mean,1.664722e+12,6.960446e+01,6.967249e+01,6.953562e+01,6.960455e+01,3.146914e+03,1.664722e+12,2.138803e+05,3.610606e+02,1.565510e+03,1.069291e+05,0.0
std,3.860745e+10,6.347687e+01,6.353536e+01,6.341742e+01,6.347693e+01,6.183527e+03,3.860745e+10,4.743069e+05,7.724076e+02,3.349919e+03,2.535927e+05,0.0
min,1.597852e+12,1.079400e+00,1.101500e+00,1.030100e+00,1.059200e+00,0.000000e+00,1.597852e+12,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,1.631287e+12,2.053000e+01,2.054000e+01,2.052000e+01,2.053000e+01,6.320300e+02,1.631287e+12,1.829997e+04,4.900000e+01,2.483800e+02,7.363033e+03,0.0
50%,1.664722e+12,3.694000e+01,3.699000e+01,3.689000e+01,3.694000e+01,1.466380e+03,1.664722e+12,7.390459e+04,1.440000e+02,6.699090e+02,3.372677e+04,0.0
75%,1.698157e+12,1.307700e+02,1.309000e+02,1.306400e+02,1.307700e+02,3.333838e+03,1.698157e+12,2.197406e+05,3.720000e+02,1.632433e+03,1.058794e+05,0.0
max,1.731592e+12,2.597900e+02,2.599000e+02,2.596000e+02,2.598000e+02,6.430630e+05,1.731592e+12,3.074767e+07,4.548100e+04,3.472126e+05,2.377905e+07,0.0

In [9]:
# Display basic information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229000 entries, 0 to 2228999
Data columns (total 12 columns):
 #   Column               Dtype
---  ------               -----
 0   OpenTime             int64
 1   Open                 float64
 2   High                 float64
 3   Low                  float64
 4   Close                float64
 5   Volume               float64
 6   CloseTime            int64
 7   QuoteAssetVolume     float64
 8   NumberOfTrades       int64
 9   TakerBuyBaseVolume   float64
 10  TakerBuyQuoteVolume  float64
 11  Ignore               int64
dtypes: float64(8), int64(4)
memory usage: 204.1 MB

In [10]:
# convert the OpenTime and CloseTime column to datetime
df['OpenTime'] = pd.to_datetime(df['OpenTime'], unit='ms')
df['CloseTime'] = pd.to_datetime(df['CloseTime'], unit='ms')

In [11]:
#head
df.head()

,OpenTime,Open,High,Low,Close,Volume,CloseTime,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseVolume,TakerBuyQuoteVolume,Ignore
0,2020-08-19 15:48:00,3.0000,3.0009,2.9893,2.9977,771.96,2020-08-19 15:48:59.999,2315.230586,18,54.51,163.517987,0
1,2020-08-19 15:49:00,2.9893,2.9958,2.9800,2.9953,2676.06,2020-08-19 15:49:59.999,7981.488056,23,922.81,2754.110336,0
2,2020-08-19 15:50:00,2.9823,2.9929,2.9800,2.9929,430.08,2020-08-19 15:50:59.999,1281.903834,9,12.29,36.782741,0
3,2020-08-19 15:51:00,2.9825,3.0046,2.9824,3.0045,601.93,2020-08-19 15:51:59.999,1801.110659,11,340.03,1020.016758,0
4,2020-08-19 15:52:00,2.9982,2.9982,2.9980,2.9980,116.81,2020-08-19 15:52:59.999,350.199742,2,0.00,0.000000,0

CloseTime and ignore are redundent

In [12]:
# drop CloseTime column
df = df.drop(columns=['CloseTime'])
# drop ingore column
df = df.drop(columns=['Ignore'])

# Creating a sample df

In [24]:
# Keep the last few rows of the data to maintain the sequence
slice_df = df.tail(100)  # Adjust the number of rows as needed
slice_df.head()

,OpenTime,Open,High,Low,Close,Volume,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseVolume,TakerBuyQuoteVolume
2228900,2024-11-14 12:08:00,215.77,215.95,215.64,215.74,3081.647,6.649789e+05,3134,1976.520,426514.65939
2228901,2024-11-14 12:09:00,215.74,215.83,215.13,215.14,3278.491,7.065231e+05,2747,795.145,171439.28485
2228902,2024-11-14 12:10:00,215.13,215.35,215.04,215.26,6628.804,1.426259e+06,2775,2434.649,523852.49879
2228903,2024-11-14 12:11:00,215.25,215.66,215.17,215.57,4194.173,9.037637e+05,2548,2787.837,600724.77922
2228904,2024-11-14 12:12:00,215.58,215.97,215.55,215.95,2031.684,4.385490e+05,2490,1365.841,294803.84387

In [25]:
# Display the shape of the sample data
slice_df.shape

(100, 10)

In [26]:
# describe the sample data
slice_df.describe()

,OpenTime,Open,High,Low,Close,Volume,QuoteAssetVolume,NumberOfTrades,TakerBuyBaseVolume,TakerBuyQuoteVolume
count,100,100.00000,100.000000,100.00000,100.000000,100.000000,1.000000e+02,100.000000,100.000000,1.000000e+02
mean,2024-11-14 12:57:30.000000256,216.41450,216.606300,216.22150,216.407100,4329.192390,9.363013e+05,2511.240000,1986.165280,4.296792e+05
min,2024-11-14 12:08:00,214.89000,215.130000,214.40000,214.890000,721.201000,1.561385e+05,752.000000,359.892000,7.781196e+04
25%,2024-11-14 12:32:45,216.11750,216.270000,216.01000,216.107500,2359.342750,5.113212e+05,1935.000000,928.042000,2.010605e+05
50%,2024-11-14 12:57:30,216.43500,216.650000,216.20000,216.440000,3368.017000,7.262204e+05,2426.000000,1718.203500,3.709291e+05
75%,2024-11-14 13:22:15,216.78250,216.992500,216.65000,216.782500,4819.420000,1.045559e+06,2957.500000,2352.047750,5.109720e+05
max,2024-11-14 13:47:00,217.75000,217.800000,217.51000,217.750000,24883.934000,5.373737e+06,5974.000000,10711.707000,2.325109e+06
std,NaN,0.62613,0.616836,0.64427,0.636822,3885.351651,8.386555e+05,928.981664,1535.669659,3.323305e+05

In [27]:
# save the sample data to a new csv file
slice_df.to_csv('solana_price_usd_sample.csv', index=False)